{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Ratina X/Image Seletions</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="{% static 'assets/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/et-line.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/ionicons.min.css'%}" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="{% static 'assets/css/slick.css'%}" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
    <style>

    div.body_block {
      color: white;
      background-color: #7ee8fa;
      background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

    }
    body {
      color: white;
    }
    /* div.form-check-inline{
      background-color: #800000;
    } */
    </style>

</head>
<body>
<form method ="post" enctype= "multipart/form-data" action = "/test3" >
          {% csrf_token %}
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

          <!--logo -->
          <div class="logo_box">
              <a href="/test4">
                  <img src="{% static 'assets/img/logo2.png'%}" alt="Ratina X">
              </a>
          </div>
          <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li class="active">
                        <a href="/test3">
                            Choose the Disease
                        </a>
                    </li>
                    <li>
                        <a href="/test2">
                        If Disease Choosen                        </a>
                    </li>
                  
                    <li>
                        <a href="/test7">Annotation Tool                      </a>
                    </li>
                    {% if user.is_authenticated %}

                              <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome {{request.user}}
                              </a>
                              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-info" href="/logout">Log out</a>

                              </div>

                          {% else %}
                          {% endif %}
                </ul>
            </div>
            <!--main menu end -->


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <ul class="social_menu">
                        <li>
                            <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                        </li>
                    </ul>
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://google.com" target="_blank">Ratina X</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->

        <div class="col-lg-10 col-md-30 col-20 body_block  align-content-center">
            <div class="portfolio">
                <div class="container-fluid">
                    <!--=================== masaonry portfolio start====================-->


                    <div class="grid img-container justify-content-center no-gutters">
                        <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>
                        <div class="grid-item branding  col-sm-12 col-md-20 col-lg-30">
                        <h3 style="color:white">Choose the disease to be marked :</h3>
                          <div class="form-check">
                         <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                       <label class="form-check-label" for="exampleRadios1">
                                Diabetic Retinopathy (DR)
                        </label>
                          </div>
                          <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                          Glaucoma
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                        Others  </label><br><br><br><br>
                        <!-- <div class="form-group">
                            <input type="file" class="form-control-file" name = "Annotations_image">
                          </div><br><br>
            <button type="submit" class="btn btn-success">Submit</button>
           {% csrf_token %}
                   </form> -->

                                        <!-- </div> -->
                      <div class = "float-left">
                      <div class="col-md-10"></div>
                      <div class="float-left">

                              <input type="file" id="Annotations_image" name="Annotations_image" multiple="multiple" />
                              <p style="text-align: right; margin-top: 20px;">
                                  <input type="submit" value="Upload Files" class="btn btn-lg btn-primary" />
                              </p>
                          </form>
                      </div>
                      <div class="float-left"></div>
                  </div>

                                    </div>
                                </div>

                        </div>

        <!--=================== content body end ====================-->
    </div>
</div>
<!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $("#files").shieldUpload();
    });
</script>

<!-- jquery -->
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<!-- bootstrap -->
<script src="{% static 'assets/js/popper.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/waypoints.min.js'%}"></script>
<!--slick carousel -->
<script src="{% static 'assets/js/slick.min.js'%}"></script>
<!--Portfolio Filter-->
<script src="{% static 'assets/js/imgloaded.js'%}"></script>
<script src="{% static 'assets/js/isotope.js'%}"></script>
<!-- Magnific-popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
<!--Counter-->
<script src="{% static 'assets/js/jquery.counterup.min.js'%}"></script>
<!-- WOW JS -->
<script src="{% static 'assets/js/wow.min.js'%}"></script>
<!-- Custom js -->
<script src="{% static 'assets/js/main.js'%}"></script>
</form>
</body>
</html>
